@import 'variables.scss';
@import '_mixin.scss';
@import 'fonts.scss';
@import '_partials';


// header
.main-header{ 
    
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: rgba(#232323, 0.7);
    z-index: 11;
    
    
    
    .container{
    font-family: $SSPB;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
        
        h2{
            font-size:16px;
            color: white;
            @media (max-width:$small){
                font-size: 12px;
            }
        }
        .main-navigation{

            &.active{
                display: block;
                width: 100vw;
                height: 100vh;
                text-align: center;
            }
            @extend %flex-placeholder;
            text-transform: uppercase;
            li{
                padding: 0 20px;
                a{
                    font-size:16px;
                    color: white;
                    @include transition;
                    &:hover{
                        color: #E64A19;
                    }
                }
                @media (max-width:$large){
                 padding: 0 10px;
                }
            }
            
            @media (max-width:768px){
                display: none;
            }
        }
        .burger-menu {
            position: relative;
            right: 0;
            width: 20px;
            height: 10px;
            cursor: pointer;
            display: none;

            @media (max-width:768px) {
            display: block;
            }
            @media (max-width:$smallest) {
              
            }
          }
          .burger {
            position: absolute;
            background: rgba(111,111,111,1);
            width: 100%;
            height: 3px;
            top: 50%;
            right: 0px;
            opacity: 1;
          }
          .burger::before {
            position: absolute;
            background: rgba(111,111,111,1);
            width: 100%;
            height: 3px;
            top: 5px;
            content: "";
            display: block;
          }
          .burger::after {
            position: absolute;
            background: rgba(111,111,111,1);
            width: 100%;
            height: 3px;
            bottom: 5px;
            content: "";
            display: block;
          }
          .burger::after, .burger::before, .burger {
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
          }
          .burger-menu.menu-on .burger::after{
             transform: rotate(-45deg);
             -webkit-transform: rotate(-45deg);
            bottom: 0px;
          }
          .burger-menu.menu-on .burger::before{
             transform: rotate(45deg);
             -webkit-transform: rotate(45deg);
            top: 0px;
          }
          .burger-menu.menu-on .burger{
           background: rgba(111,111,111,.0);
          }
          /* useless css */
          .burger-menu {
        
          }
          h1 {
            font-family: arial;
            letter-spacing: 4px;
            font-size: 16px;
            text-transform: uppercase;
            color: #666;
            text-align: center;
            margin: 60px 0px 60px 0px;
          }
          .big {
            letter-spacing: 0px;
            font-size: 51px;
            display: block;
            text-transform: uppercase;
          }
    }
    @media (max-width:768px){
        padding: 10px;
    }
}
.burger{
    display: none;

    @media (max-width:768px){
        display: block;
    }
}

// main
    .main-banner{
        width: 100%;
        position: relative;
        .banner{
            height: 100vh;
            width: 100%;
            overflow: hidden;
            @media (max-width:910px){
                height: auto;
            }
            img{
                width: 100%;
            }
            
            
        }
        .banner-section{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right: 5%;
            text-align: right;
            width:40%;

            
            
            .header{
                text-transform: uppercase;
                font-family: $SSPBL;
                font-size: 72px;
                color: #212121;
            }
            .hr{    
                position:absolute;
                height: 4px;
                width: 25%;
                margin-top: 10px;
                right: 0;
                background-color: #222222;
            }
            .content{
                margin: 20px 0;
                font-size: 18px;
                line-height: 34px;
                font-family: $SSPR;
            }
            .read-more{
                right: 0;
                position: absolute;
                border: 2px solid black;
                box-sizing: border-box;
                background-color: transparent;
                text-align: center;
                @include transition;
                padding: 2% 12%;
                
                
                h3{
                    font-family: $SSPSB;
                    font-size: 18px;
                    
                }
                &:hover{
                    border:2px solid #E64A19;
                    background-color: #E64A19;  
                    
                    a{
                        color: white;
                    }
            }
        }   
         @media (max-width:$large){
            .header{
                 font-size: 40px;
                 margin-bottom: 0px;
            }
            .hr{
                 width: 15%;
            }
            .content{
                line-height: 28px;
                margin-top: 20px;
                font-size: 14px;
            }
            .read-more{

                h3{
                font-size: 14px;
                padding: 2.5% 0;
                }
            }
         }
         @media (max-width:$small){
            .header{
                font-size: 20px;
           }
           .content{
               line-height: 20px;
               margin-top: 20px;
               font-size: 14px;
               .deleted{
                   display: none;
               }
           }
            .hr{
                top: 15%;
            }
           .read-more{
               h3{
               font-size: 10px;
               padding: 2% 0;
                   }
               }
            }
            
            @media (max-width:600px) {
                .header{
                    font-size: 20px;
               }
               .content{
                .deleted2{
                    display: none;
                }
            }
                .read-more{
                   h3{
                   font-size: 8px;
                   padding: 2% 0;
                       }
                   }
            }
        }
    }
.who-why{
    text-align:center;
    padding: 5% 20%;
    img{
        width: 55px;
        height: 45px;
        margin-bottom: 4%;
    }
    h2{
        font-family: $SSPB;
        font-size: 27px;
    }
    h3{
        font-family: $SSPR;
        font-size: 16px;
        padding-top: 10%;
        line-height: 33px;
    }
} 
.article-container{
    background-color: #EFEFEF;

     .container{ 
        @extend %flex-placeholder;
        margin: 0% 10%;
        
        .second-section-article{

            width: $article-width;
            margin: 10% 0;

            h2{
                font-family: $SSPSB;
                font-size: 18px;
                margin: 7% 0;
            }
            h3{
                width: 100%;
                font-family: $SSPR;
                font-size: 16px;
                line-height: 26px;
            }
            img{
                width: 45px;
                height: auto;
            }
        }
        @media (max-width: $small){
                flex-wrap: wrap;
                justify-content: space-between;

            .second-section-article{
                text-align: center;
                display: inline-block;
                width: 50%;
                
                h3{
                    font-size: 14px;
                }
            }
            :nth-child(3){
                width: 100%;
            }
        }
        @media (max-width:$smaller){
            .second-section-article{
                width: 100%;
            }
        }
    }    
} 
.featured-article-container{

    .header{

        
        margin:5% 0;
        text-align: center;
        width: 55%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        h2{
            font-family: $SSPB;
            font-size:27px;
            margin-bottom: 2%;
        }
        h3{
            font-family: $SSPR;
            font-size: 16px;
            line-height: 33px;
            letter-spacing: -0.4px;
        }
    }
    .container{
        @extend %flex-placeholder;
        flex-wrap: wrap;
        margin: 2% 0;

        a{  
            margin:1%;
            width: $article-width;
           
            
            .featured-article{
                
                position: relative;
                height: 100%;
                background-color: #222222;
                color: white;
                margin-bottom: 5%;

                h3{
                    padding: 10%;
                    font-family: $SSPR;
                    font-size: 14px;
                    text-transform: uppercase;
                }
                h2{
                    padding: 9%;
                    font-family: $SSPR;
                    font-size: 24px;
                }
                p{
                    padding: 10%;
                    font-family: $SSPR;
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 30px;
                }
                .line{
                    position:absolute;
                    left: 50%;
                    right: 50%;
                    @include transition;
                    width: 0%;
                    height: 1.5%;
                    background-color: #E64A19;

                }
                &:hover{
                    .line{
                        width: 100%;
                        left: 0%;
                        right: 0%;
                    }
                }
            }
        }
        @media (max-width:$large){
            a{
                .featured-article{
                    h3{
                        font-size: 10px;
                       }
                       h2{ 
                           font-size: 20px;
                       }
                       p{
                           font-size: 10px;
                       }
                }    
            }
        }
        @media (max-width: $small){

            a{
                width: 48%;
                flex-wrap: wrap;
                .featured-article{
                    h2{ 
                        padding: 10%;
                    }
                }
            }
            :first-child{
                width: 100%;
            .featured-article{
                
                h3{
                    padding: 5% 5%;
                    font-size: 10px;
                    }
                    h2{
                        padding: 5% 5%;
                        font-size: 20px;
                    }
                    p{
                        padding: 5% 5%;
                        font-size: 10px;
                    }
                }    
            }
        }
    }
}
.client{
    width: 100%;
    text-align: center;
    background-color: #EFEFEF;

    h2{
        padding: 5% 0;
        font-size: 33px;
        font-family: $SSPB;
    }
    img{
        height: 100px;
        width: 80%;
        margin-bottom: 5%;
    }
}
.portofolio{
    text-align: center;
    
    h2{
        margin: 5% 0;
        font-family: $SSPB;
        font-size: 27px;
    }
    p{  
        margin: 0 5%;
        font-family: $SSPR;
        font-size: 16px;
        line-height: 33px;
        letter-spacing: -0.4px;
    }
    .break-line{
        background-color: #E64A19;
        width: 8%;
        height: 10px;
        margin: 5% 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .inline{
        li{
        display:inline-block;
        padding: 2%;
        margin-bottom: 5%;
        font-family: $SSPR; 

            a{
                @include transition;

                &:hover{
                    color: #E64A19;
                }
            }
        }     
    }
    .image-container{
        margin-bottom: 5%;
       img{
           margin: 0px;
           height: 100%;
           width: $img-width;
           
           @media (max-width:$smallest){
               width: 80%;
           }
       }
    }
}
.break-section{
    text-align: center;
    background-color: #212121;
    color: white;

    h2{
        font-family: $SSPR;
        font-size: 20px;
        line-height: 33px;
        padding: 8% 5%;
    }
    h1{
        font-family: $SSPR;
        font-size: 20px;
        line-height: 33px;
        padding:5% 0;
    }
}
.our-team {
    text-align: center;

    h2{
        font-size:27px;
        font-family: $SSPB;
        padding: 5% 0;
    }
    h3{
        font-size: 16px;
        font-family: $SSPR;
        padding:0 5%;
    }
    .article-container{
        @extend %flex-placeholder;
        flex-wrap: wrap;
        padding: 10% 10%;
        background-color: white;

        .designer{

            width: $designer-width;
            img{
                width: 102px;
                height: 109px;
            }
            h4{
                padding-top: 20%;
                padding-bottom: 5%;
                font-size:16px;
                font-family: $SSPB;
            }
            h5{
                font-size:15px;
                font-family: $SSPR;
            }
        }
        @media (max-width:$small){
           .designer{
               width: 30%;
               padding: 5%;
           }
        }
    }
}
.facts-numbers {
    width: 100%;
    text-align: center;
    background-image:url("../img/numbers.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    

    .black-layer{
        background-color: rgba(#000000,0.5);
        padding-bottom: 10%;

        h1{
            font-size: 27px;
            font-family: $SSPB;
            color:#EEEEEE;
            padding: 10% 0 5% 0;
        }
        .article-container{
            display: flex;
            justify-content:space-between;
            flex-wrap: wrap;
            width: 60%;
            background-color: rgba(#FFFFFF,0.5);
            margin: 0 20%;
            padding-bottom:3%;
            position: relative;

            .facts-container{
                width: 40%;
                margin: 5%;

                @media (max-width:$smaller) {
                    width: 80%;
                    margin: 5% auto;
                }
                h2{
                    color: #EEEEEE;
                    font-family: $SSPB;
                    font-size: 27px;
                }
                .break-line{
                    width: 20%;
                    height: 6%;
                    background-color: #4D4C4B;
                    margin: 5% 0;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
                h3{
                    color: #EEEEEE;
                    font-family: $SSPR;
                    font-size: 24px;
                }
                @media (max-width:$large) {
                    
                    h3{
                        font-size: 20px;
                    }
                }
            }
            .line{
                position:absolute;
                left: 50%;
                right: 50%;
                bottom: -1%;
                @include transition;
                width: 0%;
                z-index: 111;
                height: 1.5%;
                background-color: #E64A19;
            }
            &:hover{
                .line{
                        width: 100%;
                        left: 0%;
                        right: 0%;
                    }
                }
            }
        }    
    }
.stories{
    padding: 5% 10%;

    .container{

        @media(max-width:$small) {
            :nth-child(2){
                flex-direction: column-reverse;
            }
        }
        .stories-article{
            @extend %flex-placeholder;
            flex-wrap:wrap;
            margin: 5% 0;
            .content{
                text-align: center;
                width: 45%;
                margin: 5% 0;

                @media (max-width:$small) {
                    width: 100%;
                }
                .date{
                    font-family: $SSPR;
                    font-size: 14px;
                    color: #555555;  
                }
                .head{
                    font-family: $SSPSB;
                    font-size: 24px;
                    color: #222222;
                    margin: 5% 0;
                }
                .text{
                    font-family: $SSPR;
                    font-size: 16px;
                    line-height: 28px;
                }
            }      
            .bgphoto1{
                background-image: url(../img/story1.jpg);
                width: 45%;
                height: 379px;
                background-position: center;
                background-repeat: no-repeat; 
                background-size: cover;
                @media (max-width:$small) {
                    width: 100%;
                }
                }         
            .bgphoto2{
                width: 45%;
                height: 379px;
                background-image: url(../img/story2.jpg);
                background-position: center;
                background-repeat: no-repeat; 
                background-size: cover;
                @media (max-width:$small) {
                    width: 100%;
                }
            }
            .bgphoto3{
                background-image: url(../img/story3.jpg);
                width: 45%;
                height: 379px;
                background-position: center;
                background-repeat: no-repeat; 
                background-size: cover;
                @media (max-width:$small) {
                    width: 100%;
                }
            }
        }
    }
}
.break-section2{
    background-color: #EFEFEF;
    padding: 5% 10%;
    @extend %flex-placeholder;

    .break-article{
        position: relative;
        width: 30%;
        line-height: 33px;
        
        .vertical-line{
            position: absolute;
            width: 2%;
            height: 100%;
            background-color: #212121;
        }
        h2{
            margin-left: 5%;
            font-family: $SSPSB;
            font-size: 18px;

            @media (max-width:$small) {
                margin-left: 10%;
            }
            a{
             @include transition;   
             color: #000000;

            &:hover{
                    color: #E64A19;
            }
        }
    }
        p{
            margin-left: 5%;
            font-family: $SSPR;
            font-size: 14px;
            color: #555555;
            @media (max-width:$small) {
                margin-left: 10%;
            }
        }
        @media (max-width:$small){
            line-height: 20px;
        }
    }
}
footer{
    background-color: #212121;
    padding: 5% 10%;
    .contact{
        position: relative;
        background-color: #212121;
    
        .form{
            text-align: left;
            height: 100%;
    
            form{
                position: relative;
                width: 50%;
                height: 100%;
                @extend %flex-placeholder;
                flex-wrap:wrap;
                input{
                    font-family: $SSPR;
                    
                }
                .email{
                    background-color: #212121;
                    border: 0px;
                    color: #999999;
                    width: 48%;
                    border-bottom: 1px solid #999999;
                    margin: 5% 0;
                }
                .message{
                    width: 99%;
                    background-color: #212121;
                    border: 0px;
                    border-bottom: 1px solid #999999;
                    color: #999999;
                    margin-bottom: 20%;
                }
                .submit{
                    background-color: #212121;
                    border: 0px;
                    color: #999999;
                    position: absolute;
                    bottom:5px;
                    padding:0;
                }
            }
            h2{
                padding-bottom: 5%;
                font-family: $SSPB;
                font-size: 22px;
                color: #EEEEEE;
                text-transform: uppercase;
            }
            p{
                font-family: $SSPR;
                font-size: 14px;
                color: #999999;
                line-height: 24px;
                width: 40%;
                @media (max-width:700px){
                    .deleted-text{
                        display: none;
                    }
                }
            }
        }
        .social-networks{
            position: absolute;
            right: 0;
            top:0;
            text-align: right;
    
            h2{
                font-family: $SSPSB;
                font-size: 15px;
                margin-bottom: 5%;
                color: #999999;
            }
            li{
                line-height: 24px;
                a{
                    font-family: $SSPR;
                    font-size: 14px;
                    color: #999999;
                    @include transition;
    
                    &:hover{
                        color: #E64A19;
                    }
                    
                }
            }
        }
    }
    h2{
        color: #AAAAAA;
        font-family: $SSPR;
        font-size: 14px;
    }
    .copyright{
        border-top: 1px solid #999999;
        padding-top: 35px;
    }
}
