$SSPB:'Source Sans Pro Bold',sans-serif;
$SSPBL:'Source Sans Pro Black',sans-serif;
$SSPR:'Source Sans Pro Regular',sans-serif;
$SSPSB:'Source Sans Pro semibold',sans-serif;
$article-width:(100/3)-5% ;
$small: 768px;
$large: 1024px;