$SSPB:'Source Sans Pro Bold',sans-serif;
$SSPBL:'Source Sans Pro Black',sans-serif;
$SSPR:'Source Sans Pro Regular',sans-serif;
$SSPSB:'Source Sans Pro semibold',sans-serif;
$article-width:(100/3)-5% ;
$img-width:(100/3)-5%;
$designer-width:(80/4)-5%;
$designer-width-sm:(100/2);
$smallest:450px;
$smaller:600px;
$small: 810px;
$large: 1120px;